.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
}
.article {
  display: flex;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}

body {
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  justify-content: center;
}
