.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  display: flex;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  height: 300px;
  width: 50vh;
}

h1 {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h2 {
  display: flex;
  justify-content: center;
}
.articles-list {
  display: flex;
  flex-grow: 1;
}
